<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
          <h1 class="title has-text-centered">Registration Form</h1>
          <div class="field">
            <label for="username" class="label">UserName</label>
            <div class="control">
              <input type="text" [class.is-danger]="userName.invalid && userName.touched" 
               formControlName="userName" class="input" name="username" >
              <!-- <small [class.is-hidden]="registrationForm.get('userName').valid || registrationForm.get('userName').untouched" 
                 class="has-text-danger">Username is required</small> -->
              <div *ngIf="userName.invalid && userName.touched">
                <small *ngIf="userName.errors?.required" class="has-text-danger">Username is required</small>
                <small class="has-text-danger" *ngIf="userName.errors?.minlength">Username must be at least 3 characters </small>
                <small class="has-text-danger" *ngIf="userName.errors?.forbiddenName"> {{userName.errors?.forbiddenName.value}} username is not allowed  </small>
                <small class="has-text-danger" *ngIf="userName.errors?.existName"> Username is already exist </small>
              </div>   
            </div>
          </div>

          <div class="field">
            <div class="field is-grouped">
              <div class="control">
                <label class="label">Email</label>
              </div>
              <div class="control">
                <button class="button is-light" (click)="alternateEmail()">Add Email</button>
              </div>
            </div>
            <div class="control">
              <input type="email" [class.is-danger]="email.invalid && email.touched" 
              class="input" formControlName="email">
            </div>
            <small class="text-has-danger" [class.is-hidden]="email.valid || email.untouched">Email is required</small>
            <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i = index">
              <div class="field" style="margin-top: 4px;">
                <div class="control">
                  <input type="text" name="" placeholder="Aleternate Email" class="input" [formControlName]="i">
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <input type="checkbox" class="is-checkradio" formControlName="subscibe" name="" >
            send promotional offers
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input type="password" [class.is-danger]="password.invalid && password.touched" 
                 formControlName="password" class="input" name="username" >
            </div>
            <div *ngIf="password.invalid && password.touched">
              <small class="has-text-danger" *ngIf="password.errors?.required">password is required</small>
              <small class="has-text-danger" *ngIf="password.errors?.forbiddenName">password is not allowed</small>
              <small class="has-text-danger" *ngIf="password.errors?.minlength">password length must be 6 or more characters</small>
            </div>
          </div>

          <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
              <input type="password"  [class.is-danger]="registrationForm.errors?.mismatch"
                 formControlName="confirmPassword" class="input" name="username">
            </div>
            <small class="has-text-danger" *ngIf="registrationForm.errors?.mismatch">passsword is not match</small>
          </div>

          <div class="field" formGroupName="address">
            <div class="field">
              <label class="label">City</label>
              <div class="control">
                <input type="text" formControlName="city" class="input" name="" >
              </div>
            </div>

            <div class="field">
              <label  class="label">State</label>
              <div class="control">
                <input type="text" formControlName="state" class="input" name="">
              </div>
            </div>

            <div class="field">
              <label  class="label">Postal code</label>
              <div class="control">
                <input type="text" formControlName="postalCode" class="input" name="" >
              </div>
            </div>
          </div>

          <div class="field is-grouped">
           <div class="control">
            <button type="submit" class="button is-success">Register</button>
           </div>
           <div class="control">
            <button (click)="loadApiData()" class="button is-dark">Load API</button>
           </div>
          </div>
          {{ registrationForm.value | json }}
        </form> 
       
      </div>
    </div>
  </div>
</section>